*,
*:after,
*:before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

#menu {
    background-image: url("../media/images/professional_headshot/dav.jpg");
    height: 850px;
    background-position: center;
    background-size: cover;
    position: relative;
}

#hero {
    position: absolute;
    width:100vw;
}

#topnav {
    display: flex;
    gap:0.7vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw; 
    overflow: hidden;
    background-color: rgba(255,255,255, 0.2);
    width: 100vw;

}

#menu nav ul li {
    border: solid 2px;
    border-radius: 5px;
    justify-content: center;
    height: 45px;
    border-color: #0073D1;
}

#menu nav ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 5px;

    /* fonts and colors */
    font-family: 'roboto';
    font-size: 20px;
    color:#0073D1;
}

#menu nav ul {
    height: 100%;/* Making the buttons fully responsive*/
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    padding-right: 50px;
    
}

.header section div nav ul{
    display: flex;
    gap: 5px;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    padding-right: 50px;

}

.header section div:first-child {
    /* margin-top: -10px ; */
    height: 50px;
}

.header section nav{
    width: 100%;
    height: 100%;
}

.header section {
    height: 400px;
    background-color: #007dD1;
    width: 100%;
}


.header section div:last-child li {
    border: solid 3px #ffffff;
    border-radius: 10px;
    list-style-type: none;
    height: 50px;
    width: 190px;
    position: absolute;
    
}

.header section div:last-child li a{ 

    display: flex;
    border: solid;
    border-radius: 10px;
    border-color: #0073D1;
    background-color: #0073D1;
    color: white;
    font-size: 22px;
    letter-spacing: 2px; 
    height:100%;
    width:100%; 
    align-items: center;  
    justify-content: center;
}

.header section div:last-child {
    display: flex;
    justify-content: center;
    height: 100%;
    margin-top: 15vh;


}

.header section div:nth-child(2) {
    display: inline;
    color:#ffffff;
    font-size: 25px;
    letter-spacing: 1px;
    font-family: 'Roboto';
    line-height: 30px;
    /* margin-top: -360px; */
}

.header section div:nth-child(2) p {
    padding-left:2vw;
    padding-right:2vw;

}

#greetings p {
    position: absolute;
    color:#ffffff;
    font-size: 25px;
    letter-spacing: 1px;
    font-family: 'Roboto';
    font-size: 30px;
    font-weight: bold; 
    padding-left:3vw;
    bottom: 3vw;
}

.my_work h2,
.testimonials h2,
.blogs h2 { 
    display: flex;
    justify-content: center;
    height: 10vw;
    font-family: 'Roboto';
    font-size: 37px;
    color:#2C2C2C;
    width:100%;
    align-items: center;
    margin-top: 5vw;
}

.my_work article {
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: 1fr, 1fr, 1fr;
    margin-left: 8vw;
    margin-right: 8vw;
    padding-bottom: 3vw;
}

.my_work article h3{
    /* background-color: green; */
    grid-column-start: 1;
    grid-column-end: 3;
    padding-bottom: 1vw;
    padding-left: 5vw;
    font-family: 'Roboto';
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    display: flex;
    align-items: center;
    color: #2C2C2C;
}

.my_work article ul{
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
}
 
.my_work article div {
    display: flex;
    gap: 5vw;
    
}

.my_work article div figure img{
    height:210px;
    width: 260px;
    border-radius: 5px;
}

.my_work article div p {
    font-family:'Roboto';
    font-size:25px;
    letter-spacing: 0.125rem;
    line-height:1.625rem;
    color:#2C2C2C;
    height: 210px;
    overflow: hidden;

    /* justify-content:center; */
}

.blogs div  {
    display: flex;
    width: 80vw;
    margin-left: auto; 
    margin-right: auto; 
    gap: 2rem;
    align-items: center;
    cursor: pointer;
    
}



.blogs div article figure {
    display: flex;
    justify-content: center;
}


.blogs div article figure img{
    display: inline-block;
    height: 20vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.blogs div article h3,
.testimonials div div article h3 {
    font-style:'Roboto';
    font-size: 1.875rem;
    display: flex;
    justify-content: center;
}

.blogs div article p {
    font-style: 'Roboto';
    font-size: 1.563rem;
}

.cs-hidden {
    display: flex;
    width: 100%;
    padding-left: 20;
    padding-right: auto;
    justify-content: center;
    gap: 3rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.box {
    margin: 25px;
    overflow: hidden;

}

.slider{
	width: 100%;
	display: flex;
	justify-content: center;
}

.cs-hidden li div {
    width: 8.75rem;
}

.cs-hidden li div article figure img {
    border-radius: 50%;
    padding: 5px;
    height: 8.75rem;
    width: 8.75rem;
    border: solid 3px #0073D1
}

.cs-hidden li div article h3 {
    font-style:'Roboto';
    font-size: 1.875rem;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

.cs-hidden li div article p {  
    font-style: 'Roboto';
    font-size: 1.563rem;
}
  
.contacts h2 { 
    display: flex;
    justify-content: center;
    height: 10vw;
    font-family: 'Roboto';
    font-size: 37px;
    color:#ffffff;
    width:100%;
    align-items: center;
    margin-top: 5vw;
}

.contacts {
    height: 18.875rem;
    background-color:#007dD1;
}

.contacts ul {
    display: flex;
    justify-content: center;
    /* height: 100%; */
    gap: 4.688rem;
    margin-top: 4.375rem;
    /* align-items: center; */
}

.contacts ul div a:last-child {
    font-style: 'Roboto';
    font-size: 1.563rem;
    color:#ffffff;
}

.copyright {
    height:2.688rem;
    background-color: #2C2C2C;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.copyright p {
    font-style: 'Roboto';
    font-size: 1.563rem;
    color:#ffffff;
    font-weight: lighter;
    margin-left: 7.25rem; 

}



